@model IEnumerable<RaceDirector.Models.ViewModels.DriverVM>

@{
    ViewData["Title"] = "Пилоты";
}

<h2>Пилоты</h2>

<p>
    <a asp-action="Create">Новый пилот</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ф.И.О.
            </th>
            <th>
                Возраст
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href = '@Url.Action("Details", "Drivers", new { id=item.Id })'">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
